@page
@model CookingOrganizer.Pages.HomeModel
@{
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="homePage">
   <div class="navbar">
        <a asp-page="/Home">Home</a>
        <a asp-page="/Recipes">Our recipes</a>
        <a asp-page="/SuggestRecipe">Suggest a recipe</a>
        <a asp-page="/Logout">Logout</a>
    </div>

    <div class="messageForUser">
        <p>Welcome to my cooking website!</p>
    </div>
</body>